.product-listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .product-info {
        padding: 1rem 0;
        margin-bottom: 1rem;
        transition: all 0.2s ease;
      }
  }